* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: aqua;
}

.container {
    margin: 0px 112px;
    background-color: white;
}

.toolbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.toolbar-list-items {
    margin-left: 48px;
    padding: 6px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.toolbar-list-items .toolbar-item {
    display: inline;
    background-image: url(./assets/img/toolbar-item-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 11px;
}

.toolbar-list-items .toolbar-item a {
    color: white;
    font-weight: bold;
    font-weight: bolder;
    margin-left: 12px;
    text-decoration: none;

}

.toolbar-search {
    margin-right: 48px;
    border: 0px 1px;
    border-style: solid;
    /* border-color: gray; */
}

.toolbar-search input {
    border: none;
    background-color: black;
    height: 100%;
}

.header {
    background-color: #f0a52b;
    height: 70px;
    position: relative;
}

.header .logo {
    margin-left: 37px;
    display: block;
    width: 200px;
    height: 60px;
    background: url(https://kenh14cdn.com/web_images/logo_kenh142022.svg) no-repeat;
    background-size: auto 60px;
    display: inline-block;
    position: relative;
    top: 6px;
    left: 6px;
}

.trending {
    display: flex;
    height: 100%;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}

.trending-container {
    position: absolute;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 33%;
}

.trending-item,
.trending-item a {
    text-decoration: none;
    color: white;
    height: 30px;
    padding: 6px 4px;
    font-size: 14px;
}

.trending-item a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.navigation {
    background-color: #a70e1a;
    height: 40px;
    padding: 0px 48px;
}

.nav-list {
    display: flex;
    height: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.nav-item {
    list-style-type: none;
    height: inherit;
    font-weight: bold;
    padding: 0px 7px;
}

.nav-item:hover {
    background-color: #980d17;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 40px;

}

.line {
    height: 30px;
    background-color: #f1f1f1;
}

.content-left {
    display: inline-block;
    width: 67.66%;
    margin-top: 20px;

}

.left-article {
    display: block;
    float: left;
    width: 460px;
    margin-left: 28px;
}

.left-article h2 {
    color: #222;
    font-size: 25px;
}

.left-article a {
    text-decoration: none;
}

.left-article p {
    font-size: 14px;
    margin: 10px 0px;
}


.right-article {
    display: inline-block;
    width: 220px;
    margin: 0px 20px;
}

.right-article h2 {
    font-size: 19px;
    padding: 12px 15px 20px;
}

.advert-right {
    float: right;
    display: inline-block;
}

.advert-right iframe {
    width: 300px;
    height: 600px;
}

.slide {
    height: 230px;
    width: 720px;
    /* overflow: hidden; */
}

.slide-list-item .slide-item {
    list-style-type: none;
    width: 250px;
    display: i;
}

/* slide */
/*  */

.body-content-3 {
    width: 800px;
}

.body-content-3-slider {
    display: flex;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.body-content-3-slider-item {
    width: 250px;
    margin-right: 25px;
}

.body-content-3-item-img {
    width: 250px;
    height: 156px;
}

.body-content-3-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-content-3-item-text p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 22px;
    color: #2d2d2d;
    font-weight: 700;

}

.mySlides {
    /* display: none; */
    position: relative;
    width: calc(1 / 3);
    transition: 0.5s;
}


.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    /* margin: ; */
    margin: 20px 5px 30px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.active,
.dot:hover {
    background-color: #fb512a;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 55px;
    width: 35px;
    height: 95px;
    padding: 16px;
    margin-top: -22px;
    color: white;
    /* background-color: #f0a52b; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    /* user-select: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    background-color: rgba(251, 108, 39, 0.8);
}

.prev {
    background-color: rgba(251, 108, 39, 0.8);
}

.next:hover,
.prev:hover {
    background-color: rgba(251, 108, 39, 1);
}