* {
    margin: 0;
    padding: 0;

}

.container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 24px;
    
}

.header {
    text-align: center;
    background-color: lightseagreen;
    margin-bottom: 20px;
    padding: 20px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.aside {
    background-color: chartreuse;
    width: 25%;
    text-align: center;
    height: 600px;
    position: relative;
}

.article {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    background-color: coral;
    width: 70%;
    height: 600px;
}

.aside h1, .article h1 {
    position: absolute;
    top: 50%;
    transform: translate(0,-20px);
    text-align: center;
    width: 100%;
}

.article-img {
    position: relative;
    width: 27%;
    height: 234.14px;
    background-color: orange;
    margin-bottom: 20px;
}

.article-img h1 {
    position: absolute;
    text-align: center;
    top: 117px;
}

.footer {
    margin-top: 20px;
    background-color: blue;
    padding: 20px 0;
    text-align: center;
}